@import "../../../../vendor/filament/filament/resources/css/theme.css";

/*@config './tailwind.config.js';*/
@source "../../../../app/Filament/App/**/*.php";
@source "../../../../app/Livewire/App/**/*.php";
@source "../../../../resources/**/*.blade.php";
@source "../../../../resources/views/filament/app/resources/loan-application-resource/pages/loan-application-form.blade.php";
@source "../../../../vendor/filament/**/*.blade.php";

@theme {
    --font-arial: Arial, Helvetica, serif;
    --font-sans: 'Figtree', sans-serif;
    --color-primary: #3F9FEB;
}

button[wire\:click="resetTableFiltersForm"] {
    display: none;
}

.fi-topbar-start > a {
    @apply hidden;
}

.fi-sidebar-header {
    @apply h-24 flex justify-center ring-0 !shadow-none;
}

.fi-sidebar-header-logo-ctn {
    @apply flex justify-center;
}

.fi-topbar {
    @apply bg-primary text-white pl-84;
}

.fi-main {
    @apply !p-4 relative mt-4;
}

.fi-page {
    @apply outline-2 outline-gray-500 bg-white p-4;
}

.fi-topbar > nav {
    @apply bg-primary-600 text-white;
}

.fi-ta-header-toolbar {
    @apply bg-primary-600 text-white fill-white;
}

.fi-ta-header-toolbar .fi-icon-btn-icon {
    @apply text-white hover:text-gray-300;
}

.fi-tabs-item-active {
    @apply bg-primary-200 underline decoration-2 underline-offset-4 decoration-primary-400;
}

.fi-in-image {
    @apply justify-center;
}

.fi-in-entry-wrp > div {
    @apply sm:grid-cols-4;
}

.fi-in-component-ctn {
    @apply gap-1;
}


[data-transaction="cbu"] {
    @apply bg-blue-100;
}

[data-transaction="savings"] .fi-sc {
    @apply bg-green-100 rounded-xl;
}

[data-transaction="time-deposit"] .fi-sc {
    @apply bg-yellow-100 rounded-xl;
}

[data-transaction="imprest"] .fi-sc {
    @apply bg-orange-100 rounded-xl;
}

[data-transaction="loan"] .fi-sc {
    @apply bg-amber-900/30 rounded-xl;
}

[data-transaction="love-gift"] .fi-sc {
    @apply bg-pink-100 rounded-xl;
}

[data-transaction="cash-collection"] .fi-sc {
    @apply bg-violet-100 rounded-xl;
}

.fs-row-data {
    @apply whitespace-nowrap print:whitespace-normal border border-black px-2 text-right text-xs print:text-[8pt] uppercase hover:bg-green-300;
}

.fs-row-header {
    @apply whitespace-nowrap print:whitespace-normal border border-black px-2 text-base print:text-[8pt] font-bold uppercase hover:bg-green-300;
}

.fi-ta-summary-row {
    @apply bg-green-200 print:text-[8pt] font-semibold;
}

.fi-ta-text-summary > span {
    @apply text-black;
}
